<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="sub" value="60ec -- Your Key -- 030f" />
       <add key="region" value="southcentralus" />
       <add key="filename" value="outro.wav" />
       <!--><add key="text" value="Welcome to the Azure Security Podcast where we discuss topics relating to security, privacy, reliability and compliance on the Microsoft cloud platform." /> -->
       <add key="text" value="Thanks for listening to the Azure Security Podcast, you can find show notes and other resources at our web site a z security podcast dot net. if you have any questions, please find us on Twitter at azure secpod. background music is from c c mixer dot org and licensed under the creative commons license."/>
       <add key="voice" value="en-US-JessaNeural" />
   </appSettings>
</configuration>